# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\andre\Documents\ESCOLA\3ano\1semestre\DESENVOLVIMENT-APLICACOES-EMPRESARIAIS\AcademicManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
